/*.div1 {
   position:relative;
   left:0px;
   margin-left: 0px;
   margin-right: 0px;
   text-align: left;
   width:100%;
   background:#ffffff;
   padding: 3rem;
   color: #000000;
   border-top: 1px solid #353535;
   height: 100vh;
   opacity: 0.7;
}
.div2 {
  position:relative;
  width:100%;
  text-align: left;
  background:#031932;
  padding: 5rem;
  color: #ffffff;
  border-top: 1px solid #353535;
  height: 70vh;
}
.div3 {
   position:relative;
   text-align: left;
   background:#ffffff;
   padding: 5rem;
   color: #000000;
   border-top: 1px solid #353535;
   height: 70vh;
   background: rgba( 255,255,255,0.6 );
}*/

.table22 {
  position: absolute;
  width: 100%;
  margin: 0vh;
  left: 0;
  right: 0;
}
.td11 {
  background: rgba( 255,255,255,1 );
  background-image: url('./images/back10.png');
  border-top: 3px bold #000000;
  color: #000000;
  height: 90vh;
  padding-right: 5rem;
}
.td22 {
  background-color: #031932;
  color: #ffffff;
  height: 80vh;
  padding: 5rem;
}
.td33 {
  background: rgba( 255,255,255,.8 );
  color: #000000;
  height: 100vh;
  background-image: url('./images/back.png');
  background-size: cover;
  vertical-align: top;
  text-align: left;
  margin-right: 10vh;
  padding: 10rem;
  border-top: 1px bold #000000;
}
.td44 {
  background: rgba( 255,255,255,1 );
  color: #000000;
  height: 90vh;
  vertical-align: top;
  text-align: left;
  padding: 10rem;
}
.iframe22 {
  float: right;
  margin-right: 5vh;
}
.iframe33 {
}
.img22 {
  float: right;
  margin-right: 150px;
}
.img23 {
  float: left;
  margin-left: 80px;
}
.img33 {
  opacity: 1;
}
.paragraph11 {
  float: left;
  width: 40%;
  margin: 0.5em;
  color: #000000;
  font-style: normal;
}
.paragraph22 {
  width: 30%;
  margin-left: 20px;
  text-align: left;
  color: #000000;
  font-style: normal;
}
.paragraph33 {
  float: left;
  text-align: left;
  width: 40%;
  margin: 0.5em;
  color: #ffffff;
  font-style: normal;
}
.paragraph44 {
  width: 30%;
  margin-left: 20px;
  text-align: left;
  color: #ffffff;
  font-style: normal;
}
.paragraph55 {
 margin: 0px;
 color: #000000;
 font-size: 50px;
 font-style: normal;
}
.paragraph66 {
  margin-left: 10vh;
  color: #000000;
  font-style: normal;
  font-size: 30px;
}
.paragraph77 {
  float: right;
  right: 30vh;
  width: 40%;
  color: #000000;
  font-style: normal;
  font-size: 30px;
}
.paragraph88 {
  position: absolute;
  float: right;
  width: 30%;
  margin-top: 10vh;
  right: 0vh;
  color: #000000;
  font-style: normal;
  font-size: 30px;
}
.paragraph99 {
  float: right;
  text-align: left;
  right: 30vh;
  width: 40%;
  color: #000000;
  font-style: normal;
  font-size: 30px;
}
.paragraph100 {
  position: absolute;
  float: right;
  text-align: left;
  width: 30%;
  margin-top: 10vh;
  right: 0vh;
  color: #000000;
  font-style: normal;
  font-size: 30px;
}
.scrollup {
  width: 40px;
  height: 40px;
  display: none;
  text-indent: -9999px;
}
.go_top {
  background-color: #ffffff;
  position: absolute;
  width: 150px;
  height: 60px;
  right: 60vh;
  bottom: 74vh;
  border-style: ridge;
  box-shadow: 3px 3px 10px #000000;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #fffff;
  display:inline-block;
  color:#000000;
  padding:6px 24px;
  text-decoration:none;
  letter-spacing: 2px;
}
a {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
a:hover {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
a:selected {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
a:visited {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
a:link {
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
