tr td{
  padding: 30px;
  color: #ffffff;
  text-align: center;
  font-family: "verdana";
  font-style: oblique;
  font-size: 20px;
}
table {
  margin-left: 50%;
  margin-right: 50%;

  text-align: center;
  border-collapse:collapse;
}