.footer {
   text-align: center;
   width:100%;
   background:#000000;
   padding: 1.5rem;
   color: #ffffff;
   border-top: 1px solid #353535;
}
a.link1:visited {
  font-size:20px;
  text-decoration: none;
  color: #ffffff;
}
a.link1:selected {
  font-size:20px;
  text-decoration: none;
  color: #ffffff;
}
a.link1:hover {
  font-size:20px;
  text-decoration: underline;
  color: #ffffff;
}
a.link1 {
  font-size:20px;
  text-decoration: none;
  background-color: #00A;
  color: #ffffff;
}
a.divButton{
  height: 90%;
  width: auto;
  margin-top: 1.8em;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top:  .5vh;
  padding-bottom: .5vh;
  background-color: #FFF;
  border-radius: 8px;
}
a.divButton2{
  height: 90%;
  width: auto;
  margin-top: 1.8em;
  padding-left: .8vw;
  padding-right: .8vw;
  padding-top:  .5vh;
  padding-bottom: .5vh;
  background-color: #FFF;
  border-radius: 8px;
}
